@import url(header.css);
@import url(content.css);
@import url(questions.css);
@import url(footer.css);

/* Переменные */
:root {
    /* Цвета */
    --yellow: #FFE609;
    --green: #B2FF00;
    --red: #FF0004;
    --white: rgb(255, 255, 255);
    --black: #000000;
    --blackpage: #030303;
    --purple: #510060;
    --grey: rgba(255, 255, 255, 0.05);
    --silver: rgba(255, 255, 255, 0.3);

    /* Шрифты */
    --primary: 'TT Runs Trial';
    --secondary: 'TT Interphases';

    /* Жирность */
    --bold: 700;
    --medium: 600;
    --regular: 400;

    /* Границы и переходы */
    --border: rgba(255, 255, 255, 0.05);
    --borderblock: 1px solid var(--White-10, rgba(255, 255, 255, 0.1));
    --fill: 100%;
    --center: center;
    --flex-end: flex-end;
    --flex-start: flex-start;
    --animate: all 0.3s ease;
    --opacity__25: opacity(0.25);
    --opacity__50: opacity(0.5);
    --opacity__75: opacity(0.75);
    --opacity__100: opacity(1);
    --blur: blur(7.5px);

    /* Padding */
    --pdt8: 8rem;
    --pdb6: 6rem;
    --pd1_25: 1.25rem;

    --max: 3rem;  
}

/* Мобильные (до 576px) */
@media (max-width: 576px) {
    :root {
        --zr: 0.25rem; 
        --xs: 0.5rem;   
        --sm: 0.75rem; 
        --md: 0.8rem;   
        --lg: 0.9rem;  
        --xl: 1.25rem;    
        --xxl: 0.99rem; 
        --hg: 2rem;   
    }
}

/* Планшеты (577px–768px) */
@media (min-width: 577px) and (max-width: 768px) {
    :root {
        --zr: 0.25rem; 
        --xs: 0.5rem;  
        --sm: 0.75rem; 
        --md: 1rem;    
        --lg: 1.5rem;  
        --xl: 1.7rem;    
        --xxl: 2.2rem; 
        --hg: 3rem;   
    }
}

/* Маленькие десктопы (769px–992px) */
@media (min-width: 769px) and (max-width: 992px) {
    :root {
        --zr: 0.25rem; 
        --xs: 0.5rem;  
        --sm: 0.75rem; 
        --md: 1rem;    
        --lg: 1.5rem;  
        --xl: 1.7rem;    
        --xxl: 2.2rem; 
        --hg: 3rem;   
    }
}

/* Средние десктопы (993px–1336px) */
@media (min-width: 993px) {
    :root {
        --zr: 0.25rem; 
        --xs: 0.5rem;  
        --sm: 0.75rem; 
        --md: 0.9rem;    
        --lg: 1rem;  
        --xl: 1.5rem;    
        --xxl: 2rem; 
        --hg: 3rem;   
    }
}

/* Большие десктопы (1400px+) */
@media (min-width: 1600px) {
    :root {
        --zr: 0.25rem; 
        --xs: 0.5rem;  
        --sm: 0.75rem; 
        --md: 1rem;    
        --lg: 1.5rem;  
        --xl: 1.7rem;    
        --xxl: 2rem; 
        --hg: 3rem;   
        --max: 4rem;   
    }
}

/* media */
@media screen and (max-width: 992px) {
    .embyheader__box {
        flex-wrap: wrap;
    }
    .embyheader__navbar {
        min-width: calc(100% + 2rem);
        margin-top: 0.8rem;
        margin-left: -1rem;
        flex-wrap: nowrap;
        order: 1;
        overflow-x: scroll;
        padding: 0 1rem;
        padding-bottom: 0.8rem;
    }
    .embyheader__navbar li {
        text-wrap: nowrap;
    }
    .embyheader__navbar li a {
        display: block;
        background: var(--white);
        color: var(--black);
        border-radius: 3px;
        padding: 0.1rem 0.5rem;
    }
    .container {
        padding: 0 1rem;
    }
    :root {
        --pdt8: 3rem;
        --pdb6: 1rem;  
    }
    .embyheader__logo {
        min-width: 8rem;
        width: 8rem;
        min-height: 5rem;
        height: 5rem;   
    }
    .content__wrap, .content__center {
        min-height: 22rem;
        padding: 2rem;
    }
    .content__bottom {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 0;
    }
    .content__block {
        width: calc(50% - 8px);
        min-height: 16rem;
        padding: var(--md);
        margin-right: 16px;
        margin-bottom: 8px;
    }
    .content__block:nth-child(2n) {
        margin-right: 0;
    }
    .content__icons {
        flex-wrap: wrap;
    }
    .content__icons .icon {
        margin-bottom: 24px;
    }
    .questions__box {
        flex-direction: column;
        padding: 2rem;
    }
    .questions__text {
        margin-bottom: 2rem;
    }
    .embyfooter__box {
        flex-direction: column;
    }
    .embyfooter__left {
        max-width: 100%;
        padding: 2rem;
        border: 0;
    }
    .embyfooter__soc {
        margin-bottom: 4rem;
    }
    .embyfooter__wrap {
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }
    .embyfooter__block {
        max-width: 100%;
        margin-bottom: var(--max);
    }
    .content__block {
        line-height: var(--lg);
    }
    .embyfooter__navbar a {
        line-height: var(--lg);
    }
    h4 {
        line-height: var(--lg);
    }
    .embyfooter__copy {
        line-height: var(--lg);
    }
    .embyheader__navbar a:hover, .embyheader__navbar a.active {
        background: var(--black);
        color: var(--white);
    }
}
.o-title_line {
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    transition: opacity .8s cubic-bezier(.215,.61,.355,1), transform .8s cubic-bezier(.215,.61,.355,1);
}
.o-title_line.is-inview {
    opacity: 1;
    transform: none;
    transition-delay: 0.05s;
}
.content__block {
    transform: translateY(20px);
    transition: all .3s ease;
    opacity: 0;
}
.content__block:nth-child(1) {
    transition-delay: 0.4;
}
.content__block:nth-child(2) {
    transition-delay: 0.6s;
}
.content__block:nth-child(3) {
    transition-delay: 0.8s;
}
.content__block:nth-child(4) {
    transition-delay: 1s;
}
.o-title_line.is-inview .content__block {
    transform: translateY(0);
    opacity: 1;
}