*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "TT Interphases";
  src: url("../fonts/tt-interphases-pro/TT Interphases Pro Trial Light.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Interphases";
  src: url("../fonts/tt-interphases-pro/TT Interphases Pro Trial Medium.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Interphases";
  src: url("../fonts/tt-interphases-pro/TT Interphases Pro Trial DemiBold.ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  background: #030303;
  font-family: "TT Interphases";
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1712px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 128px 0 96px 0;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  min-width: 314px;
  width: 314px;
  min-height: 128px;
  height: 128px;
  background: url(../img/logo.svg) no-repeat center/cover;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-left: 118px;
}
.header__navbar li {
  margin-right: 48px;
}
.header__navbar li:last-child {
  margin-right: 0;
}
.header__navbar a {
  color: var(--White-30, rgba(255, 255, 255, 0.3));
}

.header__btn {
  margin-left: auto;
  padding: 20px;
  border: 1px solid var(--White-5, rgba(255, 255, 255, 0.05));
  border-radius: 10px;
  background: var(--White-5, rgba(255, 255, 255, 0.05));
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--White-100, rgb(255, 255, 255));
}

.content {
  padding-bottom: 48px;
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 624px;
  padding: 108px 128px;
  margin-bottom: 48px;
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1));
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-30, rgba(255, 255, 255, 0.3));
}

h1, h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 24px;
  color: var(--White-100, rgb(255, 255, 255));
}

.content__center {
  width: 100%;
  text-align: center;
}
.content__center h1, .content__center h2 {
  margin-bottom: 8px;
}

.content__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}

.content__wrap {
  max-width: 848px;
  width: 100%;
}

.content__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.content__block {
  min-height: 416px;
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1));
  padding: 48px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-30, rgba(255, 255, 255, 0.3));
}

h5 {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-100, rgb(255, 255, 255));
  margin-bottom: 24px;
}

.questions {
  padding-bottom: 48px;
}

.questions__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 128px 128px 80px 128px;
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1));
}

.questions__text {
  max-width: 664px;
  width: 100%;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-30, rgba(255, 255, 255, 0.3));
}
.questions__text h2 {
  margin-bottom: 24px;
}

.questions__accordeon {
  max-width: 664px;
  width: 100%;
}
.questions__accordeon .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}
.questions__accordeon .wrap:last-child {
  margin-bottom: 0;
}
.questions__accordeon .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 44px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--White-100, rgb(255, 255, 255));
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.questions__accordeon .block {
  width: 100%;
  height: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-50, rgba(255, 255, 255, 0.5));
}
.questions__accordeon .icon.active {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.questions__accordeon .icon.active + .block {
  height: auto;
  padding-top: 16px;
}

.questions__title {
  max-width: calc(100% - 44px);
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-100, rgb(255, 255, 255));
  padding-top: 4px;
  padding-right: 16px;
}

.footer {
  border-top: 1px solid var(--White-20, rgba(255, 255, 255, 0.2));
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  max-width: 496px;
  width: 100%;
  padding-right: 62px;
  padding-top: 88px;
  padding-bottom: 96px;
  border-right: 1px solid var(--White-20, rgba(255, 255, 255, 0.2));
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 496px);
  padding-left: 80px;
  padding-top: 88px;
  padding-bottom: 96px;
}

.footer__block {
  max-width: 272px;
  width: 100%;
}

.footer__navbar {
  margin-bottom: 72px;
}
.footer__navbar li {
  margin-bottom: 24px;
}
.footer__navbar li:last-child {
  margin-bottom: 0;
}
.footer__navbar a {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-30, rgba(255, 255, 255, 0.3));
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer__navbar a:hover {
  color: var(--White-100, rgb(255, 255, 255));
}

.footer__navbar:last-child {
  margin-bottom: 0;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-100, rgb(255, 255, 255));
  margin-bottom: 48px;
}

.footer__mail {
  display: inline-block;
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 64px;
  color: var(--White-100, rgb(255, 255, 255));
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 207px;
}

.footer__copy {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-30, rgba(255, 255, 255, 0.3));
}